:root,
:root[data-theme="dark"] {
--primary-bg:#000;
--primary-color:#fff;
--hover-menu:#8f8f8f;
--icon-color:#1662d4;
--icone-tema:#d7b21e;


}
:root[data-theme="light"] {
    --primary-bg:#8f8f8f;
    --primary-color:#000;
}


body {
    background-color:var(--primary-bg); /*fundo*/
color: var(--primary-color); /* cor do texto */
font-family:Verdana, Geneva, Tahoma, sans-serif;


}


a{
text-decoration: double;
color: var(--primary-color);

}

a:hover {
color: var(--hover-menu);

}

i {
color: var(--icone-cor);

}



*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

/*fim reset*/

/*img {
width: 10rem; /* largura
height: 10rem; /* altura 
}
img {
    width: 12%;
}  */


/*reader */
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1rem;
    z-index:2;

}

.logo {  /* img */
width: 3.25rem;   /*comprimento  */
height: 3.25rem;  /* altura */

}


.reader-toggle {
display: flex;
justify-content: flex-end;

}

#toggleTheme {
color: var(--icone-tema);
font-size: 2rem;
cursor: pointer;
}

.menu {  /* UL */
display: flex;
align-items: center;
background: var(--primary-bg);
gap: 1rem;


}

